body{
    background-image: url("../images/backdrops/2.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;

    color: white;

}
h1{
    padding-top: 40px;
    text-align: center;   
}
button{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: transparent;
    border-color: white;
    padding: 15px 32px;

}
div.modal{
    color:gray;
}

footer{
    position: absolute;
    bottom:0;
    width: 100%;
}